<div class="container mt-5">
    <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col">

            <div class="card">
              <div class="card-body">
                <div class="p-3">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJYx1arX8LtH3fIgeq6j0I0olECsphA-TzCQ&s" width="300px" height="300px" alt="ipn" class="img-fluid">
                </div>
              </div>
            </div>
            
          </div>
          <div class="col">

            <div class="card">
              <div class="card-body">
                <div class="p-3"><img src="https://pbs.twimg.com/profile_images/1810382009170063360/mGDqAgOv_400x400.jpg" width="300px" height="300px" alt="upiiz" class="img-fluid"></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="container justify-content-center">
        <h1 class="text-center">Instituto Politecnico Nacional</h1>
        <h2 class="text-center">Unidad Profesional Interdisciplinaria de Ingeniería campus Zacatecas</h2>
        <h3 class="text-center">Web Client and Backend Development Framework</h3>
      </div>
</div>
