/* Estilo para el fondo del login */
.login {
  
  
}

/* Sombra para el div que contiene el formulario */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Sombra suave */
}

/* Estilo para los inputs inválidos */
.is-invalid {
  border-color: #dc3545; /* Color rojo */
}

.text-danger {
  color: #dc3545; /* Color rojo */
}