<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">Proyecto Final</h3>
                        <form #loginForm="ngForm" (ngSubmit)="obtenerCredenciales(loginForm)">
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="username" 
                                    name="username" 
                                    placeholder="Ingrese su username" 
                                    [(ngModel)]="currentUser.username" 
                                    #username="ngModel"
                                    required
                                    [ngClass]="{'is-invalid': username.invalid && username.touched}">
                                <div *ngIf="username.invalid && username.touched" class="text-danger">
                                    El nombre de usuario es obligatorio.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="pass" class="form-label">Password</label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="pass" 
                                    name="pass" 
                                    placeholder="Ingrese su password" 
                                    [(ngModel)]="currentUser.password" 
                                    #password="ngModel"
                                    required
                                    [ngClass]="{'is-invalid': password.invalid && password.touched}">
                                <div *ngIf="password.invalid && password.touched" class="text-danger">
                                    La contraseña es obligatoria.
                                </div>
                            </div>
                            <div *ngIf="errorMessage" class="text-danger mb-3">{{ errorMessage }}</div>
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
