<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Diseñado y desarroyado por</h3>
                    <h4 class="text-center">Jesus Miguel Hernandez Garcia</h4>
                    <h4 class="text-center">7CM1</h4>
                    <p class="text-center">jhernandezg1710&#64;alumno.ipn.mx</p>
                </div>
            </div>
        </div>
    </div>
</div>
