<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5" style="width: 18rem;">
                <img src="media/creditos.jpg" class="card-img-top" alt="Imagen de créditos">
                <div class="card-body">
                    <h4 class="card-title text-center">Diseñado y desarrollado por:</h4>
                    <h5 class="text-center">Jesus Miguel Hernandez Garcia</h5>
                    <h5 class="text-center">7CM1</h5>
                    <p class="text-center">jhernandezg1710&#64;alumno.ipn.mx</p>
                </div>
            </div>
        </div>
    </div>
</div>
